{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
  <div class="product-detail">
    <img src="{% if product.img %}{{ product.img.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
    <h1>{{ product.name }}</h1>
    <h2>
      <a href="{{ product.category.get_absolute_url }}">
        {{ product.category }}
      </a>
    </h2>
    <p class="price">${{ product.price }}</p>
    <form action="{% url 'cart:cart_add' product.id %}" method="post" class="add-to-cart-form">
      <div class="quantity-selector">
        <label for="id_quantity">Quantity</label>
        {{ cart_product_form.quantity }}
      </div>
      {% csrf_token %}
      <button type="submit" class="add-to-cart-btn">Добавить в корзину</button>
    </form>
    {{ product.description|linebreaks }}
  </div>
{% endblock %}