{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'shop/images/logo.png' %}" type="image/x-icon"/>
    <title>Магазин - Главная</title>
</head>
<body>
    <header class="header">
        <img src="{% static 'shop/images/logo.png' %}" alt="Логотип магазина" class="logo">
    </header>
    
    <main class="main-content">
        <h1 class="categories-title">Категории товаров</h1>

        <div class="categories-grid">
            <!-- Категория 1 -->
                {% for category in categories %}
                {% if not category.parent %}
                    {% if category.image %}

                    <a href="{% url 'category' category.slug %}" class="category-item">
                            <img class="category-icon" alt="{{ category.name }}" src="{{ category.image.url }}">
                        </a>
                    {% endif %}
                {% endif %}
                {% endfor %}
        </div>
    </main>
</body>
</html>